<p>
	<strong>Name:</strong>
	<%= @customer.name %>
</p>

<p>
	<strong>Street:</strong>
	<%= @customer.street %>
</p>

<p>
	<strong>Zipcode:</strong>
	<%= @customer.zipcode %>
</p>

<p>
	<strong>City:</strong>
	<%= @customer.city %>
</p>

<p>
	<strong>Email:</strong>
	<%= @customer.email %>
</p>

<p>
	<strong>Banknumber:</strong>
	<%= @customer.banknumber %>
</p>

<p>
	<strong>Accountnumber:</strong>
	<%= @customer.accountnumer %>
</p>

<%= link_to 'Back to List', customers_path %>